/* @media (min-width: 1000px){
    .navbar navbar-expand-sm {
        background: darkslategray;
    }
} */

body {
    background: rgb(114, 122, 124);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .box {
    border: 3px
} */

/* .row {
    background: white;
    margin: 20px
} */

.col {
    margin: 10px
}

/* change navbar brand at small size */
@media (min-width: 576px){
    .navbar-brand {
        background: rgb(114, 122, 124);
        padding: 10px;
        margin: 0px
    }
}

h1 {
    margin: 10px
}

h2 {
    margin: 10px
}
/* float text around main image */
#tempvlat {
    position: relative;
    float: left
}

.active_i {
    margin: auto;
    border: 1px solid red;
    width: 48%
}

footer {
    color: white;
    text-align: center;
    background: #212529;
}

